img {
    opacity: 1.0;
}
.event{
    height: 60px;
    width: 160px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}
.current{
    text-align: center;
    color: white;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYNlsOkxJRUIfw4SyPcjNExTnnZuSMq07A5Q&usqp=CAU);
   height: 100px;
   width: 100%;
}
.search{
    width:100%;   
    border-width: thick;
    display: block;
    
}
  .home{
      display: inline;
}
  #girl{
    width: 300px;
    border-radius: 30px;
    display: inline;
    margin-left: 10%;
  
}
  .contain {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
  }